body {
    margin: 0;
}

header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}

button {
    height: 400px;
    width: 400px;
}

img {
    height: 350px;
    width: 350px;
    box-sizing: border-box;
    padding-bottom: 8px;
}

button {
    /* border: none; */
    border-radius: 20px;
}

button:hover {
    color: aqua;
}